{{% load static %}
<html lang="en">
<head>
    <title>DataTable</title>
    <link rel="stylesheet" type="text/css" href= "{% static  "DataTables/datatables.min.css" %}"/>
 
    
    
    {% block extra_head %}
    {% endblock %}
</head>

<body>
<div class="container mt-5">
    {% block content %}

    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static  "DataTables/datatables.min.js" %}"></script>
<script type="text/javascript" src="{% static  "DataTables/JSZip-2.5.0/jszip.min.js" %}"></script>
<script type="text/javascript" src="{% static  "DataTables/Buttons-2.3.4/js/dataTables.buttons.min.js" %}"></script>
<script type="text/javascript" src="{% static  "DataTables/Select-1.6.0/js/select.bootstrap5.min.js" %}"></script>
<script type="text/javascript" src="{% static  "DataTables/Select-1.6.0/js/dataTables.select.min.js" %}"></script>
        
        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>



{% block extra_js %}
{% endblock %}
</body>
</html>