{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block content %}


<div id = "map" style = "width: 600px; height: 780px"></div>


{% endblock content %}
{% block extra_js %}
<script>


// This example creates a 2-pixel-wide red polyline showing the path of
// the first trans-Pacific flight between Oakland, CA, and Brisbane,
// Australia which was made by Charles Kingsford Smith.
function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 15,
    center: { lat:-1.286389, lng: 36.817223 },
    mapTypeId: "terrain",
  });
  const flightPlanCoordinates = [
    { lat: -1.268665592 , lng:36.805996776 },
    { lat: -1.292201, lng:36.764021 },
  ];
  const flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: "#FF0000",
    strokeOpacity: 1.0,
    strokeWeight: 2,
  });

  flightPath.setMap(map);
}

window.initMap = initMap;

</script>
{% endblock %}


  
   

    <!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->
  

 

