{% extends "base.html" %}
{% block title %}Deliveries{% endblock %}
{% block content %}

 <div class="container">
<div class="card shadow "style="box-sizing: border-box;



top: 63px;

background: #FFFFFF;
border: 1.81193px solid #ECEEF7;
border-radius: 6px;">




<!-- <div class="form-group has-search pt-3" >
    <input type="text" class="form-control" placeholder="Search">
  </div> -->
     <!-- <div class="row no-gutters">
     <div class="col">
          <input class="form-control border-secondary border-right-0 rounded-0" type="search" value="search" id="example-search-input4">
     </div>
   
</div> -->
<!-- <h1>Drivers</h1>
    <ul>
        {% for driver in drivers %}
        <li>{{ driver.name }}</li>
        {% endfor %}
    </ul>
    </body></html> --> 
 

              
               

               

</div>


<!-- <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
                <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
            </span>
        </div>        -->
        <div>
            <div id="div2">Route Summary
            <div id="div3"></div>
        </div>
        </div>
        
        <div class=" py-3">
            <button class="btn btn-primary" id="dispatch-button">Dispatch</button>
    
            <div class="toolbar float-right">
                  
                </form>
                
                
              
            </div>
        </div>
    
   
        <div class="table-responsive p-3">
            <table
                id="deliveries-list"
                class="table  table-sm"
                style="width:100%"
            >
                <thead>
                    <tr>
                       

                       <th>vehicle</th>
                       
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            
        </div>
</div>
</div

{% endblock content %}
{% block extra_js %}
    <script>
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/v1/plan",
            success: function (data) {
                $.each(data, function (index, value) {
                    console.log(value)
                    $("#div3").append('Route'+ value['vehicle']+'  '+' ' + 'Driver:' + value['driver_name'] + ' ' + 'Deliveries:' + value['num_deliveries']+' '+'Capacity Utilization:' + value['vehicle_capacity_utilization']);
                });
                
               
            },
            
            
            error: function (err) {
                console.log('error: album artist options:', err);
            }
        });
        $('#dispatch-button').on('click', function() {
        
            
           // prevent the page from reload
           
            
            
            $.ajax({
                type: "GET",
                url: "/api/v1/dispatch",
                success: function (data) {
                    window.location="/api/v1/delis"
                },
                error: function (err) {
                    console.log('error: album artist options:', err);
                }
            });
        });
      
       

    </script>
{% endblock %}