{% extends "base.html" %}
{% block title %}Deliveries{% endblock %}
{% block content %}

 <div class="container">
<div class="card shadow "style="box-sizing: border-box;



top: 63px;

background: #FFFFFF;
border: 1.81193px solid #ECEEF7;
border-radius: 6px;">




<!-- <div class="form-group has-search pt-3" >
    <input type="text" class="form-control" placeholder="Search">
  </div> -->
     <!-- <div class="row no-gutters">
     <div class="col">
          <input class="form-control border-secondary border-right-0 rounded-0" type="search" value="search" id="example-search-input4">
     </div>
   
</div> -->
<!-- <h1>Drivers</h1>
    <ul>
        {% for driver in drivers %}
        <li>{{ driver.name }}</li>
        {% endfor %}
    </ul>
    </body></html> --> 
 

              
               

               

</div>


<!-- <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
                <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
            </span>
        </div> 
    https://datatables.net/extensions/select/examples/initialisation/checkbox.html       -->
        <div>
                
               
             
              
            <div id="div2">Route Summary
            <button class="btn btn-primary" id="dispatch-button">Dispatch</button>
            
        </div>
       
      
        <div class="row">
            <div class="col-12">
            
            
               
                
            
        <div id="result" class="hide">
          <span>Table  View</span>
            <table id="table1">
              <thead>
                <tr>
                  <th>Route</th>
                  <th>Deliveries</th>
                  <th>Driver</th>
                  <th>Capacity</th>
                 
                  <th>Load</th>
                 
                  <th>Usage</th>
                  <th>Mileage</th>
                 
                  <th>Path</th>
                </tr>
              </thead>
              <tbody id="tb"></tbody>
            </table>
          </div>
          <div class="toolbar float-left">
            <button class="btn btn-primary" id="settings-button">Back to Settings </button>

              
            </form>
            
            
           
        </div>
        
    </div>
    <div class="col-6">
         
    
   
    
</div>
</div

{% endblock content %}
{% block extra_js %}
    <script>
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/v1/plan",
            success: function (data) {
                $.each(data, function (index, value) {
                    
                    $("#div3").append('Route'+ value['vehicle']+'  '+' ' + 'Driver:' + value['driver_name'] + ' ' + 'Deliveries:' + value['num_deliveries']+' '+'Utilisation:' + value['vehicle_capacity_utilization']+ 'Route:' + value['route']);
                const tb = document.getElementById("tb");
                let tr = [];
                data.forEach(item => {
                      tr.push('<tr><td>' + item.vehicle + '</td>')
                      tr.push('<td>' + item.num_deliveries+ '</td>')
                      tr.push('<td>' + item.driver_name + '</td>')
                      tr.push('<td>' + item.vehicle_capacity+ '</td>')
                      
                      tr.push('<td>' + item.load+ '</td>')
                      tr.push('<td>' + item.vehicle_capacity_utilization  + '%' +  '</td>')
                      tr.push('<td>' + item.distance + '</td>')
                      tr.push('<td>' + item.route + '</td>')
                    })
                    tb.innerHTML = tr.join("");
                    document.getElementById("result").classList.remove("hide"); // show
                });
                
               
            },
            
            
            error: function(xhr,status, error) {
                <!-- var err = eval("(" + xhr.responseText + ")"); -->
                var err = JSON.parse(xhr.responseText);
                alert(err.detail);
                alert(xhr.status);
                
              },
        });
        $('#dispatch-button').on('click', function() {
        
            
           // prevent the page from reload
           
            
            
            $.ajax({
                type: "GET",
                url: "/api/v1/dispatch",
                success: function (data) {
                    window.location="/api/v1/trips"
                },
                error: function(xhr,status, error) {
                    <!-- var err = eval("(" + xhr.responseText + ")"); -->
                    var err = JSON.parse(xhr.responseText);
                    alert(err.message);
                    alert(xhr.status);
                    
                  },
            });
        });
      
       

    </script>
{% endblock %}