{% extends "base.html" %}
{% block title %}Deliveries{% endblock %}
{% block content %}

 <div class="container">
<div class="card shadow "style="box-sizing: border-box;


top: 63px;

background: #FFFFFF;
border: 1.81193px solid #ECEEF7;
border-radius: 6px;">

<div class="d-flex align-items-center justify-content-between px-3" style=" margin-top:50px;">
        <h1 class="h3" style="font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.01em;

color: #000000;">Active  Shipments   </h1>
<!-- <div class="form-group has-search pt-3" >
    <input type="text" class="form-control" placeholder="Search">
  </div> -->
     <!-- <div class="row no-gutters">
     <div class="col">
          <input class="form-control border-secondary border-right-0 rounded-0" type="search" value="search" id="example-search-input4">
     </div>
   
</div> -->
<!-- <h1>Drivers</h1>
    <ul>
        {% for driver in drivers %}
        <li>{{ driver.name }}</li>
        {% endfor %}
    </ul>
    </body></html> --> 
 

              
               

               

</div>
    

<!-- <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
                <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
            </span>
        </div>        -->

    <div class=" py-3">
        <button class="btn btn-primary" id="complete-button">Cancel</button>

        <div class="toolbar float-right">
              
            </form>
            
            
          
        </div>
    </div>
    
   
        <label>Status <select name="status" id="id_status">
            <option value="" selected="">-----</option>
          
            <option value="draft">draft</option>
          
            <option value="pending">pending</option>
          
            <option value="dispatched">dispatched</option>
          
            <option value="ongoing">ongoing</option>
          
            <option value="completed">completed</option>
          
          </select> </label>
            
            
 
    
   
        <div class="table-responsive p-3">
            <table
                id="trip-list"
                class="table  table-sm"
                style="width:100%"
            >
                <thead>
                    <tr>
                       

                       <th>code</th>
                       <th>departure</th>
                       <th>driver </th>
                       <th>vehicle_capacity</th>
                       <th>deliveries</th>
                       
                      
                      
                       
                      
                       <th>load</th>
                      
                       <th>usage(%)</th>
                       <th>Mileage(km)</th>
                       <th>status</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            
        </div>
</div>
</div

{% endblock content %}

{% block extra_js %}
    <script>
        let data_url ="/api/v1/trip/?format=datatables" ;
        $(document).ready(function () {
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
              }
            const csrftoken = getCookie('csrftoken');
            var table = $('#trip-list').DataTable({
                columnDefs: [ {
                    orderable: true,
                    <!-- className: 'select-checkbox', -->
                    targets:   0
                } ],
                select: {
                    style: 'multi',
                },
                'order': [[1, 'desc']],
                'processing': false,
                'serverSide': true,
                
                'ajax': {
                    url: data_url,
                    data: function(data) {
                        /*
                        allows the additional data to evaluated and added to the request at the time
                        the request is made.
                        The data table will send api with a  request 'search' as a request parameter
                        when the search input is fired
                        */
                        data.status = $("#id_status").val(); // search input value
                    },
                },
                columns: [
                    {
                        data: 'code',
                        orderable: true,
                        searchable: true,
                    },
                    {
                        data: 'added',
                        orderable: true,
                        searchable: true,
                    },
                    {
                        data: 'driver',
                        orderable: false,
                        searchable: true,
                    },
                    {
                        data: 'driver_capacity',
                        orderable: false,
                        searchable: true,
                    },
                    {
                        data: 'num_deliveries',
                        orderable: false,
                        searchable: true,
                    },
                    
                    {
                        data: 'load',
                        orderable: false,
                        searchable: true,
                    },
                    
                    {
                        data: 'utilization',
                        orderable: false,
                        searchable: true,
                    },
                    
                    
                    {
                        data: 'distance',
                        orderable: true,
                        searchable: true,
                    },
                    {
                        data: 'status',
                        orderable: true,
                        searchable: true,
                    },


                ]
            });

            $('#id_status').on('change paste keyup', function() {
               

                table.ajax.reload();
    
            });

            $('#optimize-button').on('click', function() {
                var selected = [];
                
               // prevent the page from reload
               
                
                var data = table.rows('.selected').data();
                data.each(function (value, index) {
                    console.log(`For index ${index}, data value is ${value.code}`);
                    selected.push(value.code);
        
                
                });
                alert(selected);
                $.ajax({
                    type: "POST",
                    url: "/api/v1/delivery/get_selected/",
                    data:{
                       ids: JSON.stringify(selected),
                       csrfmiddlewaretoken: csrftoken
                       
                       
                    },
                    success: function (data) {
                        window.location="/api/v1/route_summary"
                    },
                    error: function(xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        alert(err.Message);
                      },
                });
            });
        });
    </script>
{% endblock %}


<!-- <html><body>
    <h1>Drivers</h1>
    <ul>
        {% for driver in drivers %}
        <li>{{ driver.name }}</li>
        {% endfor %}
    </ul>
    </body></html> -->